.appoinmentFormDiv {
    width: 90vw;
    padding: 2vw;
    border: 1px solid #a4a4a4;
    background-color: #ededed;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.contentWrap {
    /* background-color: antiquewhite; */
    width: 30vw;
}

.heading {
    font-size: 1vw;
    color: #a4a4a4;
}

.appHead {
    margin-bottom: 20px;
    margin-top: 10px;
}

.value {
    font-size: 1.2vw;
    font-weight: 600;
}